<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dziennik</title>
    <link rel="stylesheet" href="dziennik.css"type="text/css"/>
    <style>
        body{
background-color:#161616;
color:#456789}
    </style>
</head>
<body>
<h1>dziennik elektroniczny</h1>
<br/>
<br/>

<form th:action="@{/Student/add}" th:object="${addStudent}" method="post">
    <p>podaj imie: <input type="text" th:field="*{imie}"/></p>
    <p>podaj nazwisko: <input type="text" th:field="*{nazwisko}"/></p>
    <p>podaj klase: <input type="text" th:field="*{klasa}"/></p>
    <p><input type="submit" value="dodaj Studenta"/></p>
</form>


<table>
    <tr>
        <th>IMIE</th>
        <th>NAZWISKO</th>
        <th>KLASA</th>
    </tr>
    <tr th:each="stud : ${all}">
        <td th:text="${stud.imie}">imie</td>
        <td th:text="${stud.nazwisko}">nazwisko</td>
        <td th:text="${stud.klasa}">klasa</td>

    </tr>
</table>

</body>
</html>